@import "../../../variables";

.poll-container {
  max-width: 500px;
  .share-container {
    display: flex;
    align-items: center;
    .share-input {
      border: none;
      text-align: center;
      cursor: default;
      font-size: 12px;
      flex-grow: 1;
      color: $primaryColor;
      &::selection {
        background: white;
      }
    }
  }
  .author {
    text-align: right;
    margin-top: 6px;
    span {
      background-color: $accentColor;
      color: $textAndIconsColor;
      padding: 2px 8px;
      a {
        text-decoration: none;
        color: $textAndIconsColor;
      }
    }
  }
  .option {
    label {
      cursor: pointer;
    }
    color: $primaryColor;
    margin: 5px 0;
    span {
      &:hover {
        color: $accentColor;
      }
    }
    .radio {
      display: none;
      &.ng-dirty:checked {
        & + span {
          color: $primaryColor;
        }
      }
      &.ng-dirty:not(:checked) {
        & + span {
          color: $dividerColor;
          text-decoration: line-through;
        }
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
}
