@import "../../../variables";

.create-poll-container {
  display: flex;
  flex-direction: column;
  .create-poll-title {
    font-size: 20px;
    color: $primaryColor;
  }
  .create-poll-form {
    width: 400px;
    .add-option-button {
      font-weight: bold;
      font-size: 22px;
    }
    .button-container {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
    .option-number {
      width: 5ch;
      line-height: 24px;
      background-color: $primaryColor;
      color: $textAndIconsColor;
      padding: 2px;
      text-align: center;
    }
    .form-input {
      display: flex;
      align-items: center;
      input {
        flex-grow: 1;
      }
    }
  }
}
